body{
    font-family: monospace;
    font-size: 16px;
    background-color: rgb(200, 255, 252);
    text-align: center;
    color: rgb(71, 71, 71);
    line-height: 1.5;
}

#img{
    border-radius: 2%;
    
}

#img-caption{
    font-size:14px;
}

.art-cover{
    margin: 10px auto 25px auto;
    display:flex;
    justify-content: center;
    border-radius: 2%;
    width: 300px;
}

blockquote{
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
    
}



p{
    max-width: 550px;
    margin: 0 auto 0 auto;
    line-height: 30px;
}

h1{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

ul{
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}